<ion-view view-title="Search">
  <ion-content>
    <h1 align="center">TRIVIA</h1>
     <form ng-hide="formvisibility">
      <div >
        <label class="item item-input">
          <span class="input-label">Uusario</span>
          <input type="text" ng-model="login.usuario">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="login()">Log in</button>
        </label>
      </div>
    </form>
    <div name="Preguntas" ng-show="mostrarPreguntas" ng-model="Nusuario">
    <h2>BIENVENIDO: {{Nusuario}}!!</h2>

    </div>>
  </ion-content>
</ion-view>
